.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url('images/hero-bg-3.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-shadow: #005BC9;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
    background-color: #61aa0d;
    color: #fff;
}

